<!--footer-->
<div>

    <div class="row">

        <div class="col-md-3 col-sm-3">
            <span class="footer-header">CUSTOMER SERVICE</span>
            <hr>
             <ul  class="footer-li">
                 <li><a href="#">Track Order</a></li>
                 <li><a href="#">Shipping Policy</a></li>
                 <li><a href="#">No-Hassle Return Policy</a></li>
                 <li><a href="#">FAQ</a></li>
                 <li><a href="#">Company Info</a></li>
                 <li><a href="#">Customer Testimonials</a></li>
                 <li><a href="#">Privacy Policy</a><li>
                 <li><a href="#">Sitemap</a></li>
                 <ul>

        </div><!--col-md-3-->

        <div class="col-md-6 col-sm-6">

            <span class="footer-header">SHOP COSTGRO</span>
            <hr>

            <!-- <div class="footer-middle-col">-->
                 <div class="col-md-6 col-sm-6 footer-middle-col">
                     <ul  class="footer-li">
                         <li><a href="#">Air / HVAC</a></li>
                         <li><a href="#">Controllers, Timers </a></li>
                         <li><a href="#">& Meters</a></li>
                         <li><a href="#">Grow Media</a></li>
                         <li><a href="#">Grow Systems</a></li>
                         <li><a href="#">Grow Tents</a></li>
                         <li><a href="#">Lighting</a></li>
                         <li><a href="#">Nutrients</a></li>
                         <li><a href="#">Pest & Disease Control</a></li>
                         <ul>
                 </div>

                 <div class="col-md-6 col-sm-6 footer-middle-col">
                     <ul class="footer-li">
                         <li><a href="#">pH / TDS Solutions </a></li>
                         <li><a href="#">& Meters</a></li>
                         <li><a href="#">Pots & Containers</a></li>
                         <li><a href="#">Propagation</a></li>
                         <li><a href="#">Tools & Accessories</a></li>
                         <li><a href="#">Grow Trays, Reservoirs</a></li>
                         <li><a href="#">& Stands</a></li>
                         <li><a href="#">Water</a></li>
                         <ul>
                 </div>
                 <!--  </div> footer-middle-col-->

        </div><!--col-md-3-->

        <div class="col-md-3 col-sm-3">

            <span class="footer-header">FOLLOW COSTGRO</span>
            <hr>
            <table class="follow-us">
                <tr>
                    <td class="footer-letter-align fa fa-facebook">
                    <td class="footer-name-align"><a href="#">Facebook</a>
                <tr>
                    <td  class="footer-letter-align fa fa-pinterest">
                    <td class="footer-name-align"><a href="#">Pinterest</a>

                <tr>
                    <td  class="footer-letter-align fa fa-twitter">
                    <td class="footer-name-align"><a href="#">Twitter</a>

                <tr>
                    <td  class="footer-letter-align fa fa-rss">
                    <td class="footer-name-align"><a href="#">RSS Feed</a>
            </table>
            <br>

            <span class="footer-header">SEARCH COSTGRO</span>
            <hr>

                <div class="footer-div-search">
                    <input type="search" class="input-w" placeholder="Search Costgro">
                    <span class="input-span"><i class="glyphicon glyphicon-search"></i></span>
                </div>

        </div><!--col-md-3-->




    </div> <!--row-->
    <br>
    <br>





</div><!--footer-->





