<div class="mainblogpost"> <!--одна запись поста-->
    <img class="mainblogpost-img" src="../img/blogpost/bp_news_image.png">
    <div class="mainblogpost-info">
        <div class="fa fa-comment mainblogpost-comment">
            <div class="mainblogpost-comment-digit">7</div>
        </div>
        <h2 class="mainblogpost-header">New Laws In Washington</h2>
        <article class="mainblogpost-article">
            <div class="mainblogpost-data">
                <span class="fa fa-clock-o mainblogpost-icon"></span>
                <span class="mainblogpostdate">.</span> <!--класс для jquery-->
                <span class="fa fa-user mainblogpost-icon"></span>
                <span class="mainblogpostuser">.</span> <!--класс для jquery-->
            </div>
            <p class="mainblogpost-anons">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat...<a href="#">&nbsp;Read more</a></p>
        </article>
    </div>
</div> <!--одна запись поста-->
