<br>
<br>
<div class="row">   <!--row main-->

    <!--Main Blog-->
    <!--  <div class="col-md-8 col-md-offset-1 col-sm-7 col-sm-offset-1 col-lg-push-3 col-sm-push-4"> -->
    <div class="col-md-9 col-sm-9 col-lg-push-3 col-sm-push-3">
        <p class="sidebar-header">LATEST POST</p>

        <% include bp_main_blog_post %> <!-- один  include main_blog_post - один пост, -->
        <% include bp_main_blog_post %> <!-- значения присваиваются динамически скриптом в js\bp_sc.js-->
        <% include bp_main_blog_post %>

    </div> <!-- Main Blog-->


    <!-- Blog Sidebar-->
    <aside class="col-md-3 col-sm-3 col-md-pull-9 col-sm-pull-9">                 <!-- Blog Sidebar -->

        <p class="sidebar-header">CATEGORIES</p>
        <ul class="sidebar-li">
            <li><a href="#">Category 1</a></li>
            <li><a href="#">Category 2</a></li>
            <li><a href="#">Category 3</a></li>
        </ul>

        <p id="list-arh-ul" class="sidebar-header">ARCHIVES</p>
        <ul id="list-arh-li" class="sidebar-li name-style">
        <!--   <li><a href="#">July 2016</a></li>  список архивов добавляется динамически скриптом в sc.js
               <li><a href="#">Juny 2016</a></li>
               <li><a href="#">May 2016</a></li>-->
        </ul>

        <p class="sidebar-header">FOLLOW US</p>
        <div id="sidebar-follow-me">
            <ul class="sidebar-li">
                <li><div><a href="#" rel="nofollow"><span class="sidebar-letter-align fa fa-facebook"></span>Facebook</a></div></li>
                <li><div><a href="#" rel="nofollow"><span class="sidebar-letter-align fa fa-pinterest"></span>Pinterest</a></div></li>
                <li><div><a href="#" rel="nofollow"><span class="sidebar-letter-align fa fa-twitter"></span>Twitter</a></div></li>
                <li><div><a href="#" rel="nofollow"><span class="sidebar-letter-align fa fa-rss"></span>RSS Feed</a></div></li>
            </ul>
        </div>

        <p class="sidebar-header">JOIN NEWSLETTER</p>
        <br>
        <div class="sidebar-search-div">
            <input type="email" class="input-w" id="validate" placeholder="Enter Your Email">
            <span class="input-span"><i class="glyphicon glyphicon-envelope"></i></span>
        </div>
        <div id="validEmail"></div>

     </aside>  <!-- Blog Sidebar -->




</div>    <!--row main-->