$color-body        : #0067c3;
$color-font        : #fafff3;
$color-font-aboutme: #002e5d;
$font-size-nav     : 19px;





$color-pointheader: #fdb334;



$fontfamily: Geneva, Arial, Helvetica, sans-serif;
//$fontfamily:"Candara",Helvetica,Arial,sans-serif;

$width-el-portfolio: 250px;
$height-el-portfolio: 250px;
