//стили левой боковой панели Blog Sidebar
@import "bp_myvar.scss";
@import "bp_mixins.scss";


//Blog Sidebar
.sidebar {
  &-header {
    color: $color-light;
    font-size: $font-size-main-hea; //14px;
    font-weight: bold;
  }

  &-li {
    list-style: none; //без маркировки
    padding: 20px 0px 20px 0px;
  }

  &-search-div{
    width: 100%;
    max-width: $step*3.2;
  }
}

.sidebar-letter-align{      //выравнивание иконочного шрифта внутри таблицы FollowUs
  @include icon-shrift-align;
}

//для всех ссылок страницы, в т.ч. arhives categories
//(из-за  старых браузеров прописываем непосредственно ссылку  а)
.sidebar-li>li>a:hover{
  color: $color-footer;
  text-decoration: underline;
}

//для Follow me
.sidebar-li>li>div>a:hover{
  color: $color-main-button;
  text-decoration: none;
}

//стиль шрифта для arhives categories       Follow me           jquery
.sidebar-li>li>a,     .sidebar-li>li>div>a,    .name-align>a {
  @include name-style;
}

//для динамического добавления скриптом элементов списка архивов jquery
.name-style{
  @include name-style;
}

#sidebar-follow-me{
  margin-left: -9px;
}




//Input Email
//убираем голубую обводку при фокусе
input, textarea {
  outline: none;
}

.input {
  &-w {
    position: relative;
    float: left;
    background-color: $color-body;
    border: none;
    border-radius: 7px;
    height: 36px;
    width: 100%; //на всю ширину родительского дива
    font-size: 14px;
    padding-left: 7px;
    color: $color-dark;
  }

  &-span {
    position: absolute;
    background-color: $color-body;
    margin-left: -23px;
    margin-top: 6px;
    color: $color-footer;
    font-size: $font-size-main-hea;
  }
}

//подсказка правильно/неправильно
#validEmail{
  position: absolute;
  background-color: $color-content;
  bottom : -17px;
  color: $color-content;
  font-size: ($font-size-main-hea)-3;//13px;
  font-style: italic;
}

input::-moz-placeholder {
  @include input-w-style;
}    //для Firefox

input::-webkit-input-placeholder {
  @include input-w-style;
}   //для Safari и Chrome


////MainBlog Post

.mainblogpost {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;

  &-img {
    float: left;
    width: 30%;
    max-width: 200px;
  }

  &-info {
    padding-left: 30%;
    margin-left: 40px;
  }

  &-data {
    width: 100%;
    float: left;
    padding: 10px 0;
  }

  &-comment {
    position: absolute;
    right: 0;
    font-size: ($font-size-mainblogpost-h)-2;//21px;

    &-digit {
      position: absolute;
      font-size: ($font-size-main-hea)-4; //21px;
      font-weight: bold;
      color: $color-content;
      right: 5px;
      top: 25%;
    }
  }

  &-article {
    margin-right: $mainblogpost-korrekt*(-1); //-25px;
  }

  &-icon{
    @include date-user-style; //стиль шрифта
    width: 14px;
  }

  &-anons{
    padding-right: $mainblogpost-korrekt;
    color: $color-post;
    font-size: $font-size-main-hea   ;//14px;
    font-weight: bold;
  }

  &-anons a, &-comment, &-header{
    color: $color-main-button ;//ReadMe
  }

  &-header {
    margin: 0;
    font-size: ($font-size-mainblogpost-h)-1;
  }
}

@media only screen and (max-width: 820px) {
  .mainblogpost {
    position: relative;
    overflow: hidden;
    padding: 40px 0;
    border-bottom: 1px solid #ddd;

    &-img {
      float: none;
      width: 100%;
      max-width: 200px;
    }

    &-info {
      padding-left: 0;
      margin: 20px 0 0 0;
    }

  }
}


.mainblogpost:last-child{
  border-bottom: none;
}

//классы для jquery
.mainblogpostdate{
  @include date-user-style; //стиль шрифта
  width: $step*2; //110px
}

.mainblogpostuser{
  @include date-user-style; //стиль шрифта
  width: $step*2; //100px
}

