<!--<a name="aboutme"></a>-->
<p style="color: white;" id="aboutme">.</p>
<p style="color: white;">.</p>
<p class="headportfolio"><b class="redpoint">.</b>&nbspОБО МНЕ&nbsp<b class="redpoint">.</b></p>
<div class="aboutme">
<p>Версткой Front-end занимаюсь практически с упоением. Очень нравятся интересные нестандартные решения. Ну, разумеется,
    если дизайнер решит, что надо делать так-то, то разберу макет, реализую в точности.
    Упорства не занимать - ни одна задача не осталась без решения.
    Немного о серьезном: высшее образование, красный диплом, синдром отличника  :). Постоянно мониторю новинки, анимацию. Соблюдаю правила хорошего тона в коде (БЭМ-технология).<br>
    Имею опыт общения с пользователями.
</p>
<p>
    Инструменты и навыки:
<ul>
    <li> HTML5</li>
    <li> CSS3</li>
    <li> SASS</li>
    <li> JQuery</li>
    <li> Bootstrap</li>
    <li> Responsive design</li>
    <li> SEO при верстке</li>
    <li> PhotoShop</li>
    <li> GULP</li>
    <li> Git</li>
</ul>
</p>
<p>
Общий опыт программирования - 19 лет. Опыт освоения новых языков программирования. Учусь легко.
</p>

<p>
Имею художественное образование. Пишу акварелью. Фанат дизайна, дизайнерских хитростей и приемов, Золотого Сечения,
правил сочетания цветов, форм, пропорций.
</p>
</div>
