<!--<a name="contact"></a>-->
<p style="color: white;" id="contact">.</p>
<p style="color: white;">.</p>
<p class="headportfolio"><b class="redpoint">.</b>&nbspКОНТАКТЫ&nbsp<b class="redpoint">.</b></p>

<section class="aboutme">

    <article  class="contact-div">

            <div id="glyph-facebook">
                <a href="https://www.facebook.com/natalia.sinichkina.5" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            </div>

        <div class="contact-div-div">
            <span class="contact-glyph"><i class="fa fa-flag" aria-hidden="true"></i></span>
            <span class="contact-comm">Украина</span>
        </div>

        <div class="contact-div-div">
           <span class="contact-glyph"><i class="fa fa-phone" aria-hidden="true"></i></span>
           <span class="contact-comm">+3 8 096 545 01 38</span>
        </div>

        <div class="contact-div-div">
           <span class="contact-glyph"><i class="fa fa-envelope" aria-hidden="true"></i></span>
           <span class="contact-comm">wealthy_@ukr.net</span>
        </div>

        <div class="contact-div-div">
           <span class="contact-glyph"><i class="fa fa-skype" aria-hidden="true"></i></span>
           <span class="contact-comm">sinichking</span>
         </div>


    </article>

</section>