
<div class="modal_bg"></div>    <!-- окно-поджложка   будет плавно появляться  -->

<div class="modal_window">       <!-- собственно окошко     -->
    <!-- содержимое окна  -->
   <div class="modal-image">
      <span id="modal-cloudclose">x</span>
      <img src="img/cloud.gif">
      <span class="modal-textcloud">"&nbsp...&nbsp&nbspДумаю, это будет новой фичей. Только не говорите никому,
         что она возникла случайно&nbsp!&nbsp"
         <br>
         <div>Larry Wall&nbsp&nbsp&nbsp</div>

     </span>
   </div>



</div>



