<!--<a name="portfolio"></a> -->
<p id="portfolio">.</p>
<p>.</p>
<p class="headportfolio"><b class="redpoint">.</b>&nbspПОРТФОЛИО&nbsp<b class="redpoint">.</b></p>

<div class="container">
    <div class="row">

        <div class="col-md-4 col-sm-4">
            <div class="elementpotfolio">
                <p>Пример отзывчивой верстки</p>
                <p class="tilt  pic">
                    <a href="blogpost/index.html" target="_blank"><img src="/img/blogpost/bp_BlogPost.jpg">Latest Blog Post</a>
                </p>

            </div>
        </div>



                <!--    <div class="col-md-4 col-sm-4">
                       <div class="elementpotfolio">
                           <p>Пример отзывчивой верстки</p>
                           <p><div class="tilt  pic"><img src="/img/blogpost/bp_BlogPost.jpg"></div></p>
                           <p><a href="blogpost/index.html" target="_blank">Latest Blog Post</a></p>
                       </div>
                   </div>


                    <!--
                   <div class="col-md-4 col-sm-4">
                       <div class="elementpotfolio">
                           <p>Пример другой верстки</p>
                           <p><img src="../img/lamp.jpg" width=100% height=auto alt=""></p>
                           <p><a href="другой сайт..." target="_blank">i</a></p>
                       </div>
                   </div>

                   <div class="col-md-4 col-sm-4">
                       <div class="elementpotfolio">
                           <p>Пример другой верстки</p>
                           <p><img src="../img/lampQ.jpg" width=100% height=auto alt=""></p>
                           <p><a href="другой сайт..." target="_blank">http://www.kakprosto.ru/kak-62080-kak-izmenit-cvet-shrifta-html</a></p>
                       </div>
                   </div>
           -->




    </div>   <!--class="row"-->
</div>   <!--class="container"-->

<div class="row">

</div>